body{
	margin: 0;
	background-color: white;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: middle;
  top:0;
  width: 100%;
  background-image: linear-gradient(to right, rgba(255,0,255,0), rgba(255,0,0,1));
  overflow:hidden;

}

li {
  float: left;
}

li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Big Caslon";
  font-size: 18px;
}

li a:hover, .dropdown:hover .dropbtn{
  background-color: black ;
}

.name{
	text-align: center;
	font-family: "Big Caslon";
	font-size: 30px;
	padding:150px 40px;
	background-image: url("../pics/beach.jpg");
	background-size: cover;
	color: white;
}


.intro{
	text-align: center;
	font-family: "Big Caslon";
	font-size: 18px;
	float: left;
  	width: 45%;
}

.intro_row:after {
  content: "";
  display: table;
  clear: both;
}

h2{
	text-decoration: underline;
	text-align: center;
}

footer{
	text-align: center;
}

.dropdown {
  float: left;
  overflow: hidden;
  font-family: "Big Caslon";
}

.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-family: "Big Caslon";
}

.dropdown-content {
  display: none;
  position:absolute;
  background-color:grey;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



.dropdown:hover .dropdown-content {
  display: block;
 }

